
#l01{
  min-height: 800px;
}
#lll{
  text-align: center;
    padding-top: 170px;
}

.h33{
  text-align: center;
    padding-top: 50px;
}
.h34{
  text-align: center;
  padding-bottom: 20px;
}
span{
  color: #f4511e;
}




.showSlide {  
  display: none  
}  
  .showSlide img {  
      width: 100%;  
  }  
.slidercontainer {  
  max-width: 700px;  
  position: relative;  
  margin: auto;  
}  
.left, .rights {  
  cursor: pointer;  
  position: absolute;  
  top: 50%;  
  width: auto;  
  padding: 16px;  
  margin-top: -22px;  
  color: white;  
  font-weight: bold;  
  font-size: 18px;  
  transition: 0.6s ease;  
  border-radius: 0 3px 3px 0;  
}  
.rights {  
  right: 0;  
  border-radius: 3px 0 0 3px;  
}  
  .left:hover, .rights:hover {  
      background-color: rgba(115, 115, 115, 0.8);  
  }  
.content {  
  color: #eff5d4;  
  font-size: 30px;  
  padding: 8px 12px;  
  position: absolute;  
  top: 10px;  
  width: 100%;  
  text-align: center;  
}  
.active {  
  background-color: #717171;  
}  
/* Fading animation */  
.fade {  
  -webkit-animation-name: fade;  
  -webkit-animation-duration: 1.5s;  
  animation-name: fade;  
  animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

@keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

html {
scroll-behavior: smooth;
}

.molll{
  font-weight: bold;
  font-style: italic;
  font: alegreya;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#gallery{
  padding-top: 20px;
  padding-bottom: 40px;
}








nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

